.phonebook {
  position: relative;
  max-width: 680px;

  @include xs-only {
    & {
      padding: 0 20px;
      max-width: inherit;
    }
  }

  h1 {
    margin: 0;
  }

  .loader-indicator {
    position: absolute;
    top: calc(50%);
    left: calc(50% - 20px);
    margin: 0;
    z-index: 3;
  }

  .table-wrapper {
    position: relative;

    & > .anticon-wrapper {
      position: absolute;
      top: -60px;
      font-size: 32px;
      cursor: pointer;

      &.plus-circle {
        right: 12px;
      }

      &.delete {
        left: 12px;
      }
    }
  }

  .ant-table-wrapper {
    background-color: $white;

    .cell-phone {
      width: 160px;
    }

    .cell-fname {
      width: 110px;
    }

    .cell-lname {
      width: 110px;
    }

    .cell-actions {
      width: 120px;

      & > .anticon {
        margin-right: 6px;
        font-size: 24px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }

    }

    .cell {
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;

      & > input {
        width: 100%;
      }

      @include xs-only {
        width: 100%;
      }
    }
  }

}
